    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header"  style="background-image: url('https://dl.dropboxusercontent.com/u/9485125/project_blog/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Project Blog</h1>
                                                <hr class="small">
                        <span class="subheading">A collection of awesome projects</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

              <% @blogposts.each do |blogpost| %>
                <div class="post-preview">
                    <%= link_to(blogpost) do %>
                        <h2 class="post-title">
                            <%= blogpost.heading %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= blogpost.subheading %>
                        </h3>
                <% end %>
                    <p class="post-meta">Posted by <a href="#"><%= blogpost.participants %></a> on <%= blogpost.created_at %></p>
                           <%= link_to 'Show', blogpost %>
                </div>
                <hr>
 
    <% end %>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
